<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Recommendation System </title>
</head>
<body>
    <h1>You can style this page as you like, but it should have one component, which is form.</h1>
    <h2>Create a form which takes in a name of the NIFTY 50 stocks, and on pressing the submit button it take you to a different page where result is shown.</h2>
    <p>For now, don't bother about the result just create an empty page with an anchor tage to get back to first page. <br> For the input field of form you can create a drop down list where all the names of NIFTY 50 stocks are shown.</p>
    <ol>
        <li>Adani Enterprises Ltd</li>
        <li>Adani Ports and Special Economic Zone Ltd</li>
        <li>Hindalco Industries Ltd</li>
        <li>Hero MotoCorp Ltd</li>
        <li>Infosys Ltd</li>
        <li>HCL Technologies Ltd</li>
        <li>Wipro Ltd</li>
        <li>Oil & Natural Gas Corporation Ltd</li>
        <li>Larsen & Toubro Ltd</li>
        <li>Coal India Ltd</li>
        <li>Grasim Industries Ltd</li>
        <li>Mahindra & Mahindra Ltd</li>
        <li>Bharti Airtel Ltd</li>
        <li>UPL Ltd</li>
        <li>Cipla Ltd</li>
        <li>Tata Consultancy Services Ltd</li>
        <li>Tech Mahindra Ltd</li>
        <li>HDFC Life Insurance Company Ltd</li>
        <li>Bharat petroleum Corporation Ltd</li>
        <li>Britannia Industries Ltd</li>
        <li>Tata Consumer Products Ltd</li>
        <li>Eicheer Motors Ltd</li>
        <li>Asian Paints Ltd</li>
        <li>Hindustan Unilever Ltd</li>
        <li>LTIMindtree Ltd</li>
        <li>Ultratech Cement Ltd</li>
        <li>Kotak Mahindra Bank Ltd</li>
        <li>SBI Life Insurance Company Ltd</li>
        <li>Maruti Suzuki India Ltd</li>
        <li>Nestle India Ltd</li>
        <li>Apollo Hospitals Enterprise Ltd</li>
        <li>Power Grid Corporation of India Ltd</li>
        <li>Divis Laboratories Ltd</li>
        <li>Sun Pharmaceutical Industries Ltd</li>
        <li>ICICI Bank Ltd</li>
        <li>Titan Company Ltd</li>
        <li>Reliance Industries Ltd</li>
        <li>Dr. Reddys Laboratories Ltd</li>
        <li>NTPC Ltd</li>
        <li>ITC Ltd</li>
        <li>HDFC Bank Lt</li>
        <li>Bajaj Finanace Ltd</li>
        <li>State Bank of India</li>
        <li>Bajaj Auto Ltd</li>
        <li>Bajaj Finserv Ltd</li>
        <li>Tata Motors Ltd</li>
        <li>Tata Steel Ltd</li>
        <li>JSW Steel Ltd</li>
        <li>Axis Bank Ltd</li>
        <li>Induslnd Bank Ltd</li>
    </ol>
    <p>These are the list of stocks you need to feed in the drop down list of the form. And of course, if you want to do it in any other way then don't let me limit your creativity.</p>
    
    <h2>And yes, the templates you create has to be in template folders and their css files in static folder</h2>
    <h1>Try to do your best creating front end for the project <br><b>'ALL THE BEST'</b></h1>
    <p>If you want to see an example of how flask (app.py) works the check this project (https://github.com/Ch-Soni/Covid-Report-Analytics)</p>
</body>
</html>